<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body class="d-flex align-items-center justify-content-center vh-100">
<div class="card p-4 shadow-lg" style="width: 300px;">

    <h2 class="text-center">Log in</h2>

    <div th:if="${param.error}">
        Invalid username and/or password.</div>

    <form th:action="@{/login}" method="post">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" class="btn btn-primary w-100">Login</button>

        <div th:if="${error}" class="alert alert-danger text-center">
            <p th:text="${error}"></p>
        </div>

    </form>

    <p class="text-center mt-3">Don't have an account? <a th:href="@{/signup}">Register</a></p>

    <p class="text-center mt-3"> <a th:href="@{/oauth2/authorization/github}">Login with GitHub</a>

</div>
</body>
</html>
