<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body class="d-flex align-items-center justify-content-center vh-100">
<div class="card p-4 shadow-lg" style="width: 300px;">
    <h2 class="text-center">Sign up</h2>

    <form th:action="@{/signup}" th:object="${appUser}" method="post">

        <div class="mb-3">
            <input type="text" th:field="*{name}" class="form-control" placeholder="Name" required />
        </div>

        <div class="mb-3">
        <select th:field="*{access}" class="form-control" required>
            <option value="">Select access</option>
            <option value="Standard">Standard</option>
            <option value="Premium">Premium</option>
        </select>
        </div>

        <div class="mb-3">
            <input type="email" th:field="*{email}" class="form-control" placeholder="Email" required />
        </div>

        <div class="mb-3">
            <input type="password" th:field="*{passwordHash}" class="form-control" placeholder="Password" required />
        </div>

        <button type="submit" class="btn btn-success w-100">Register</button>
    </form>

    <p class="text-center mt-3">Already have an account? <a th:href="@{/login}">Log in</a></p>

</div>
</body>
</html>
